@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap');

$ff-primary: 'Dosis', sans-serif;
$clr-primary-400: #090274;
$clr-primary-300: #3055cf;
$clr-primary-100: #fff;