@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap');

$ff-primary: 'Dosis', sans-serif;
$clr-primary-400: #302a8f;
$clr-primary-300: #191368;
$clr-primary-100: #fff;